node_modules/
public/js
public/css/main-tw.css
.clj-kondo/.cache
.lsp/.cache
package-lock.json

.cpcache

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
